div.off-canvas.position-left.reveal-for-medium(id="offCanvasLeft" data-off-canvas='')
    div.row
        div.small-12.columns.schedule-name
            label schedule name
                input(type='text' ng-model="schedule.name")
    div.row
        div.small-12.columns.schedule-item-container
            accordion(close-others=true)
                accordion-group(heading="{{scheduleItem.name}}" ng-repeat="scheduleItem in schedule.scheduleItems")
div.off-canvas.position-right.reveal-for-large(id="offCanvasRight" data-off-canvas='' data-position="right")
    div.row
div.off-canvas-content(data-off-canvas-content='')
    div.title-bar.expanded.text-center
        span.title-bar-title Hope Church Brisbane Service Programs
        div.title-bar-left
            button.menu-icon.hide-for-medium(type="button" data-toggle="offCanvasLeft")
        div.title-bar-right
            button.menu-icon.hide-for-large(type="button" data-toggle="offCanvasRight")