div.title-bar.expanded
    div.title-bar-middle.text-center
        span.title-bar-title Hope Church Brisbane Service Programs
    div.title-bar-left
        button.menu-icon.hide-for-medium(type="button" data-toggle="offCanvasLeft")
    div.title-bar-right
        button.menu-icon.hide-for-large(type="button" data-toggle="offCanvasRight")

