div.off-canvas-wrapper-inner.full-height(data-off-canvas-wrapper='')
    div.off-canvas.position-left.reveal-for-medium(id="offCanvasLeft" data-off-canvas='')
        div.row.schedule-panel-menu-bar
            div.small-12.columns.schedule-menu
                ul.dropdown.menu(data-dropdown-menu='')
                    li
                        button.button(type="button")
                            i.fi-widget.raised
                        ul.menu.schedule-menu-dropdown
                            li
                                button.button.text-left(type="button" ng-click="loadSchedules()")
                                    i.fi-thumbnails.raised
                                    span Load
                            li
                                button.button.text-left(type="button" ng-click="saveSchedule()")
                                    i.fi-save.raised
                                    span Save
        div.row
            div.small-12.columns.schedule-name
                input(type='text' ng-model="schedule.name" placeholder="Schedule Name")
            div.small-12.columns.schedule-finish-time
                div.input-group
                    span.input-group-label finish time
                    input.input-group-field(type='time' ng-model="schedule.finishTime" ng-model-options="{ updateOn: 'blur' }")
        div.row
            div.small-12.columns.schedule-item-list-container
                div.schedule-item-list(ui-sortable="sortableOptions", ng-model="schedule.scheduleItems")
                    div.schedule-item.card(ng-repeat="item in schedule.scheduleItems")
                        div.schedule-item-header(ng-click="isExpanded = !isExpanded")
                            div.handle
                                i.fi-braille
                            div.span.schedule-item-name
                                span {{item.name}}
                            div.schedule-item-finish-time
                                span.label {{schedule.getScheduledStartFromFinish($index).format("h:mm a")}}
                            a.button.warning.tiny.insert-schedule-item-btn.card(ng-click="addScheduleItem($index)")
                                i.fi-plus
                        div.schedule-item-contents(id="contents-{{$index}}" ng-show="isExpanded" data-animate="hinge-in-from-top hinge-out-from-top")
                            input.duration-input(type="number" ng-model="item.duration" ng-model-options="{ updateOn: 'blur' }")
                            div.slider-container
                                rzslider(rz-slider-model="item.duration" rz-slider-options="{floor:1,ceil:120,hideLimitLabels:true}")
                            a.button.remove-schedule-item-btn(ng-click="schedule.removeItem($index)")
                                i.fi-x
        div.row.column.add-new-schedule-item
                button.button(type="button" ng-click="addScheduleItem(schedule.scheduleItems.length)") Add Item
    div.off-canvas.position-right.reveal-for-large(id="offCanvasRight" data-off-canvas='' data-position="right")
        div.row
    div.off-canvas-content(data-off-canvas-content='')
        div.title-bar.expanded.text-center
            span.title-bar-title Hope Church Brisbane Service Programs
            div.title-bar-left
                button.menu-icon.hide-for-medium(type="button" data-toggle="offCanvasLeft")
            div.title-bar-right
                button.menu-icon.hide-for-large(type="button" data-toggle="offCanvasRight")
        div.row.column.control-status-bar
        div.row.collapse.time-display-container
            div.small-6.columns
                div.current-time-container.card.text-center
                    label It's now
                    span {{currentTime}}
            div.small-6.columns
                div.finish-time-container.card.text-center
                    label Serving will end in
                    span {{serviceEndTime}}
            div.small-12.columns
                div.countdown-container.card.text-center
                    label {{currentScheduleItem}}
                    span(ng-class="{'over-time': overtime}") {{mainTimerOutput}}
                    label until {{nextScheduleItem}}
                    span(ng-class="{'red': stageMessage.red, 'motion': stageMessage.motion}") {{stageMessage.content}}
        div.row.countdown-control-container(ng-show="schedule.live")
            div.small-12.columns.section-header(ng-click="showCountdownControl = !showCountdownControl")
                span Control
            div.small-12.columns.section-contents(ng-show="showCountdownControl")
                div.row.collapse.expanded
                    div.small-6.columns.previous-schedule-item-action
                        button.button(type="button")
                            i.fi-rewind
                            span {{previousScheduleItem}}
                    div.small-6.columns.next-schedule-item-action
                        button.button(type="button")
                            i.fi-fast-forward
                            span {{nextScheduleItem}}
        div.row.messages-control-container
            div.small-12.columns.section-header(ng-click="showMessageControl = !showMessageControl")
                span Live Messages
            div.small-12.columns.section-contents(ng-show="showMessageControl")
                div.row.collapse.expanded
                    div.small-12.columns.message-window
                        textarea.message-input(ng-model="stageMessage.content" ng-model-options="{ debounce: 1000 }")
                    div.small-8.columns.message-options
                        div.row
                            div.small-6.columns
                                md-switch(ng-model="stageMessage.red")
                                    span Red
                            div.small-6.columns
                                md-switch.md-primary(ng-model="stageMessage.motion")
                                    span Motion
                    div.small-4.columns.message-actions
                        button.button(type="button" ng-click="stageMessage.content.$rollbackViewValue(); stageMessage.content = ''") Clear
        div.row.chat-container
            div.small-12.columns.section-header(ng-click="showChat = !showChat")
                span Chat
            div.small-12.columns.section-contents(ng-show="showChat")
                div.row.collapse.expanded
                    div.small-12.columns.chat-window.inset(id="chat-window")
                        div.row.column.chat-message(ng-repeat="chatMessage in chatLog" scroll='')
                            div.sender-details(ng-class="chatMessage.class")
                                span.sender-name {{chatMessage.sender}}
                                span.timestamp {{chatMessage.timestamp.fromNow()}}
                            div.message-card.card(ng-class="chatMessage.class")
                                span.message-content {{chatMessage.message}}
                    div.small-12.columns.chat-input
                        div.input-group
                            input.input-group-field(type="text" ng-keydown="$event.keyCode == 13 && sendChatMessage()" ng-model="chatLine" ng-blur="chatFocus = false" focus="chatFocus")
                            div.input-group-button
                                button.button(type="button" ng-click="sendChatMessage()")
                                    span Send