div.off-canvas-wrapper-inner.full-height(data-off-canvas-wrapper='')
    div.off-canvas.position-left.reveal-for-medium.scroll-y(id="offCanvasLeft" data-off-canvas='')
        div.row.collapse.schedule-panel-menu-bar
            div.small-3.columns.schedule-menu
                ul.dropdown.menu(ng-show="controlStatus.status == 'in-control'" data-dropdown-menu='')
                    li
                        button.button(type="button")
                            i.fi-widget.raised
                        ul.menu.schedule-menu-dropdown
                            li
                                button.button.text-left(type="button" ng-click="loadSchedules()")
                                    i.fi-thumbnails.raised
                                    span Load
                            li
                                button.button.text-left(type="button" ng-click="saveSchedule()")
                                    i.fi-save.raised
                                    span Save
            div.small-9.columns#schedule-action-menu
                button.button(type="button" ng-show="controlStatus.status == 'in-control'" ng-click="schedule.live ? cancelSchedule() : startSchedule()" ng-class="{'success': !schedule.live, 'alert': schedule.live}")
                    i(ng-class="{'fi-play': !schedule.live, 'fi-stop': schedule.live}")
                    span Schedule
        div.row
            div.small-12.columns.schedule-name
                md-input-container
                    label Schedule Name
                    input(type='text' ng-model="schedule.name" ng-model-options="{ updateOn: 'blur' }" ng-disabled="controlStatus.status != 'in-control'" )
            div.small-12.columns.schedule-finish-time
                md-input-container
                    label Finish Time
                    md-icon(md-svg-icon="action:alarm-24")
                    input(type="time" ng-model="schedule.finishTime" ng-model-options="{ updateOn: 'blur' }" ng-disabled="controlStatus.status != 'in-control'")
        div.row
            div.small-12.columns.schedule-item-list-container
                div.schedule-item-list(ui-sortable="sortableOptions", ng-model="schedule.scheduleItems")
                    div.schedule-item.card(ng-repeat="item in schedule.scheduleItems" ng-class="{'done':$index < schedule.currentScheduleItemNumber, 'live': $index == schedule.currentScheduleItemNumber}")
                        div.schedule-item-header(ng-click="isExpanded = !isExpanded")
                            div.handle(ng-show="controlStatus.status == 'in-control'")
                                    i.fi-braille
                            div.span.schedule-item-name
                                span {{item.name}}
                            div.schedule-item-finish-time
                                span {{schedule.getScheduledStartFromFinish($index).format("h:mm a")}}
                            a.button.warning.tiny.insert-schedule-item-btn.card(ng-click="addScheduleItem($index);$event.stopPropagation();" ng-hide="$index <= schedule.currentScheduleItemNumber || controlStatus.status != 'in-control'")
                                i.fi-plus
                        div.schedule-item-contents(id="contents-{{$index}}" ng-show="isExpanded && controlStatus.status == 'in-control'" data-animate="hinge-in-from-top hinge-out-from-top")
                            div.row.collapse.expand
                                div.small-4.columns
                                    md-input-container.duration-input
                                        label Duration
                                        input(type="number" ng-model="item.duration" ng-model-options="{ updateOn: 'blur' }")
                                div.small-8.columns.slider-container
                                    rzslider(rz-slider-model="item.duration" rz-slider-options="{floor:1,ceil:120,hideLimitLabels:true}")
                            div.row.column
                                button.button.alert.expanded.remove-schedule-item-btn(ng-click="removeScheduleItem($index)")
                                    i.fi-x
                                    span Delete
        div.row.column.add-new-schedule-item
                button.button(type="button" ng-click="addScheduleItem(schedule.scheduleItems.length)" ng-show="controlStatus.status == 'in-control'") Add Item
    div.off-canvas.position-right.reveal-for-large(id="offCanvasRight" data-off-canvas='' data-position="right")
        div.row.collapse
            div.small-12.columns
                button.button.large.expanded.success.live-view-button(type="button" ng-click="goToLiveView()")
                    i.fi-monitor
                    span Live View
        div.row.control-options-panel.card(ng-show="controlStatus.status == 'in-control'")
            div.small-12.columns.control-options-panel-menu-bar
                span Options
            div.small-12.columns
                md-switch(ng-model="mainTimer.overCount")
                    span Keep counting after 0
        div.row.collapse.bottom
            div.small-12.columns
                button.button.large.expanded.warning.logout-button(type="button" ng-click="logout()")
                    i.fi-power
                    span Log Out
    div.off-canvas-content(data-off-canvas-content='')
        div.title-bar.expanded.text-center
            span.title-bar-title Hope Church Brisbane Programs
            div.title-bar-left
                button.menu-icon.hide-for-medium(type="button" data-toggle="offCanvasLeft")
            div.title-bar-right
                button.menu-icon.hide-for-large(type="button" data-toggle="offCanvasRight")
        div.row.column.collapse.expanded.control-status-bar
            button.button.expanded.release-control-button(type="button" ng-show="controlStatus.status == 'in-control'" ng-click="releaseControl()")
                span Release Control
            button.button.expanded.take-control-button(type="button" ng-show="controlStatus.status == 'open'" ng-click="requestControl()")
                span Take Control
            div.control-user-label.text-center
                span(ng-show="controlStatus.status == 'locked'") Controlled by {{controlUser.screenName}}
        div.row.collapse.time-display-container
            div.small-6.columns
                div.current-time-container.card.text-center
                    label It's now
                    span {{currentTime}}
            div.small-6.columns
                div.finish-time-container.card.text-center
                    label {{serviceEndTimeLabel}}
                    span {{serviceEndTime}}
            div.small-12.columns
                div.countdown-container.card.text-center
                    label.current-schedule-item-label {{currentScheduleItem}}
                    span.main-timer-label(ng-class="{'over-time': overTime, 'blink': overTime}") {{mainTimerOutput}}
                    label.next-schedule-item-label {{nextScheduleItem}}
                    span.stage-message-label(ng-class="{'red': stageMessage.red, 'blink': stageMessage.blink}") {{stageMessage.content}}
        div.row.countdown-control-container(ng-show="controlStatus.status == 'in-control'")
            div.small-12.columns.section-header(ng-click="showControl = (showControl == 'countdown') ? '' : 'countdown'")
                span Control
            div.small-12.columns.section-contents(ng-show="showControl == 'countdown'")
                div.row.expanded.schedule-item-navigation-actions(ng-show="schedule.live")
                    div.small-6.columns.previous-schedule-item-action
                        button.button.expanded.warning(type="button" ng-show="previousScheduleItem" ng-click="goToPreviousScheduleItem()")
                            i.fi-rewind
                            span {{previousScheduleItem}}
                    div.small-6.columns.next-schedule-item-action
                        button.button.expanded.success(type="button" ng-show="nextScheduleItem" ng-click="goToNextScheduleItem()")
                            span {{nextScheduleItem}}
                            i.fi-fast-forward
                div.row.expanded.countdown-timer-controls
                    div.small-12.columns
                        div.row.collapse.expanded
                            div.small-2.columns.countdown-for-panel
                                md-button.md-raised(ng-click="setCountdownFor(newTimerDuration)") Go
                            div.small-7.columns.countdown-for-panel
                                md-input-container
                                    label Countdown for #
                                    input(type="number" ng-model="newTimerDuration")
                            div.small-3.columns
                                md-button.md-raised.md-warn(type="button" ng-click="stopTimer()") Stop
                        div.row.collapse.expanded
                            div.small-2.columns.countdown-to-panel
                                md-button.md-raised(ng-click="setCountdownTo(newTimerFinishTime)") Go
                            div.small-7.columns.countdown-to-panel
                                md-input-container
                                    label Countdown to
                                    input(type="time" ng-model="newTimerFinishTime")
                            div.small-3.columns
                                md-button.md-raised.md-warn(type="button" ng-click="showTimeUpAlert()") Alert
        div.row.messages-control-container(ng-show="controlStatus.status == 'in-control'")
            div.small-12.columns.section-header(ng-click="showControl = (showControl == 'message') ? '' : 'message'")
                span Live Messages
            div.small-12.columns.section-contents(ng-show="showControl == 'message'")
                div.row.collapse.expanded
                    div.small-12.columns.message-window
                        textarea.message-input(ng-model="stageMessage.content" ng-model-options="{ debounce: 1000 }")
                    div.small-6.columns.message-options
                        div.row
                            div.small-6.columns
                                md-switch(ng-model="stageMessage.red")
                                    span Red
                            div.small-6.columns
                                md-switch.md-primary(ng-model="stageMessage.blink")
                                    span Blink
                    div.small-4.columns.message-actions
                        md-button.md-raised.md-primary(ng-click="stageMessage.content.$rollbackViewValue(); stageMessage.content = ''") Clear
        div.row.chat-container
            div.small-12.columns.section-header(ng-click="showControl = (showControl == 'chat') ? '' : 'chat'")
                span Chat
            div.small-12.columns.section-contents(ng-show="showControl == 'chat'")
                div.row.collapse.expanded
                    div.small-12.columns.chat-window.inset(id="chat-window")
                        div.row.column.chat-message(ng-repeat="chatMessage in chatLog" scroll='')
                            div.sender-details(ng-class="chatMessage.class")
                                span.sender-name {{chatMessage.sender}}
                                span.timestamp {{chatMessage.timestamp.fromNow()}}
                            div.message-card.card(ng-class="chatMessage.class")
                                span.message-content {{chatMessage.message}}
                    div.small-10.columns.chat-input
                        md-input-container
                            input(type="text" ng-keydown="$event.keyCode == 13 && sendChatMessage()" ng-model="chatLine" ng-blur="chatFocus = false" focus="chatFocus")
                    div.small-2.columns.chat-input
                        md-button.md-raised.md-primary(ng-click="sendChatMessage()") Send