div.row.expanded.collapse.connection-panel
  div.small-11.small-centered.medium-8.large-5.columns
    div.callout
      h1.text-center= title
      div.row
        div.medium-6.columns
          label Screen Name
            input(ng-model="screenName" type="text" name="screenName" require autofocus)
        div.medium-6.columns
          label Password
            input(ng-model="password" type="password")
      div.row
        div.small-10.small-centered.columns
          h4.subheader.text-center Connect as..
          div.expanded.button-group
            a.large.button(ng-click="connect('controller')") Controller
            a.large.button(ng-click="connect('viewer')") success Viewer