div.row
    div.small-12.columns
        h2 Stored Schedules
        div.row.small-up-1.medium-up-3.large-up-4.schedule-list-grid
            div.column.schedule-list-item.card(ng-repeat="schedule in scheduleList")
                h4 {{schedule.name}}
                span.label {{schedule.scheduleItemCount}} Items
                div.row.collapse.expanded
                    div.small-12.columns.schedule-list-item-actions
                        md-button.md-primary.md-raised(ng-click="open(schedule)") Open
                        md-button.md-warn.md-raised(ng-click="delete(schedule, $index)") Delete
        h1.subheader(ng-hide="scheduleList.length > 0") Couldn't find any saved schedules
        button.close-button(type="button" ng-click="cancel()")
            i.fi-x