div.off-canvas-wrapper-inner.full-height(data-off-canvas-wrapper='')
    div.off-canvas-content.output-window.scroll-y(data-off-canvas-content='')
        md-fab-toolbar(md-direction="left")
            md-fab-trigger
                md-button.md-fab.md-primary(aria-label="menu")
                    md-icon(md-svg-icon="navigation:menu-24")
            md-toolbar
                md-fab-actions.md-toolbar-tools
                    md-button.md-icon-button
                        md-icon(md-svg-icon="navigation:chevron-right-24")
                    md-button.md-icon-button(ng-click="logout()")
                        md-icon(md-svg-icon="action:power-24")
                    md-button.md-icon-button(ng-click="goToControlView()")
                        md-icon(md-svg-icon="hardware:keyboard-24")
        div.row.expanded.collapse.output-viewport.scroll-y
            div.small-12.medium-4.columns
                div.current-time-output.text-center
                    label It's now
                    span {{currentTime}}
            div.small-12.medium-4.end.columns
                div.finish-time-output.text-center
                    label {{serviceEndTimeLabel}}
                    span {{serviceEndTime}}
            div.small-12.columns.countdown-output-container-column
                div.countdown-output-container.text-center
                    label.current-schedule-item-output {{currentScheduleItem}}
                    span.main-timer-output(ng-class="{'over-time': overTime, 'blink': overTime}") {{mainTimerOutput}}
                    label.next-schedule-item-output {{nextScheduleItem}}
            div.small-12.columns.text-center
                    span.stage-message-output(ng-class="{'red': stageMessage.red, 'blink': stageMessage.blink}") {{stageMessage.content}}

