extends layout

block content
  div(class="row expanded collapse")
    div(class="small-11 small-centered medium-8 large-5 columns")
      div(class="row callout connection-panel")
        div(class="small-12 columns")
          h1= title
          p Welcome to #{title}
