doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
  body
    block content
    script(src="javascripts/vendor/jquery.min.js")
    script(src="javascripts/foundation.min.js")
    script(src="javascripts/app.js")