doctype html
html(ng-app="HCBPrograms")
  head
    meta(charset='utf8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href='/')
    title= title

    link(rel='stylesheet', href='/bower_components/foundation-sites/dist/foundation.min.css')
    link(rel='stylesheet', href='/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css')
    link(rel='stylesheet', href='/bower_components/angularjs-slider/dist/rzslider.min.css')
    link(rel='stylesheet', href='/thirdparty/foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

  body(ng-controller="MainCtrl")
    div.off-canvas-wrapper.full-height.scroll-y(ng-view)

    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/jquery-ui/ui/minified/core.min.js")
    script(src="/bower_components/jquery-ui/ui/minified/widget.min.js")
    script(src="/bower_components/jquery-ui/ui/minified/mouse.min.js")
    script(src="/bower_components/jquery-ui/ui/minified/sortable.min.js")
    script(src="/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js")
    script(src="/bower_components/angular-ui-sortable/sortable.min.js")
    script(src="/bower_components/angularjs-slider/dist/rzslider.min.js")
    script(src="/bower_components/foundation-sites/dist/foundation.min.js")
    script(src="/thirdparty/mm-foundation-tpls-0.9.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/factories/utility.factory.js")
    script(src="/javascripts/factories/auth.factory.js")
    script(src="/javascripts/factories/socket.factory.js")
    script(src="/javascripts/factories/timer.factory.js")
    script(src="/javascripts/factories/schedule.factory.js")
    script(src="/javascripts/factories/notification.factory.js")
    script(src="/javascripts/controllers/MainCtrl.js")
    script(src="/javascripts/controllers/HomeCtrl.js")
    script(src="/javascripts/controllers/ViewCtrl.js")
    script(src="/javascripts/controllers/ControlCtrl.js")
    script(src="/javascripts/controllers/AddScheduleItemPopupCtrl.js")
    script(src="/javascripts/controllers/ScheduleListPopupCtrl.js")