extends layout

block content
    div(class="off-canvas-wrapper")
        div(class="off-canvas-wrapper-inner" data-off-canvas-wrapper)
    div(class="top-bar")

    h1= title
    p Welcome to #{title}