html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.full-height {
  height: 100%;
}

.scroll-y {
  overflow-y: auto;
}

a {
  color: #00B7FF;
}

.sunken {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #252525
}

.connection-panel {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title-bar {
  min-height: 32px;
}

.off-canvas {
  height: 100%;
  background-color: transparent;
}

#schedule-menu-dropdown {
  padding: 0;
  width: 150px;
  background-color: white;
  border: none;
}

#schedule-menu-dropdown .button {
  margin-bottom: 2px;
  width: 150px;
}

#schedule-menu-dropdown i {
  float: left;
}

#schedule-menu-dropdown span {
  margin-right: 1.9em;
  font-size: 1.5em;
  float: right;
}

.new-schedule-item-popup .input-group-label {
  min-width: 90px;
  text-align: left;
}

.schedule-item-list {
  margin-left: 0;
}

.schedule-item {
  box-shadow: 1px 1px 3px grey;
  margin: 4px 0;
}

  .schedule-item>div{
    padding: 8px 4px;
  }

  .schedule-item-header {
    color: white;
    background-color: #2199e8;
    min-height: 36px;
    position: relative;
  }

    .schedule-item-header > .handle{
      float: left;
      margin: 2px 10px 2px 5px;
    }

    .schedule-item-header > .schedule-item-name{
      float: left;
      margin-top: 2px;
      font-size: 100%;
      font-weight: 600;
    }

    .schedule-item-header > .schedule-item-finish-time{
      float: right;
    }

    .schedule-item-header > .insert-schedule-item-btn{
      position: absolute;
      border-radius: 1rem;
      box-shadow: 1px 1px 2px grey;
      top: -14px;
      right: -8px;
    }

  .item-hidden {
    display: none; !important;
  }

  .schedule-item-contents{

  }

    .schedule-item-contents .rz-pointer {
      top: -10px;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
    }

    .schedule-item-contents .rz-pointer:after {
      top: 8px;
      left: 8px;
    }

    .schedule-item-contents .rz-bubble {
      display: none;
    }