html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.full-frame {
  height: 100%;
  width: 100%;
  overflow: auto;
}

a {
  color: #00B7FF;
}

.connection-panel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}