html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
  background-image: url('../images/background_tile.png');
  background-repeat: repeat;
}

.full-height {
  height: 100%;
}

.scroll-y {
  overflow-y: auto;
}

a {
  color: #00B7FF;
}

.raised {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #252525
}

.card {
  -webkit-box-shadow: 1px 1px 3px gray;
  -moz-box-shadow: 1px 1px 3px gray;
  box-shadow: 1px 1px 3px gray;
}

.inset {
  -webkit-box-shadow: inset 0 0 10px gray;
  -moz-box-shadow: inset 0 0 10px gray;
  box-shadow: inset 0 0 10px gray;
}

.connection-panel {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title-bar {
  min-height: 32px;
}

.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.off-canvas {
  height: 100%;
  background-color: transparent;
}

.reveal-overlay {
  overflow-y: auto;
}

.reveal.full {
  margin-top: 0;
}

.schedule-panel-menu-bar {
  background-color: #2199e8;
}

.schedule-menu .menu {
  border: none;
  min-width: 100px;
}

  .schedule-menu-dropdown li {
    margin-top: 1px;
  }

    .schedule-menu-dropdown li button {
      width: 100%;
    }

    .schedule-menu-dropdown li i{
      float: left;
    }

    .schedule-menu-dropdown li span{
      float: left;
      font-size: 1.25em;
      line-height: 1.33em;
      margin-left: 0.7em;
    }

#schedule-action-menu {
  padding: 3px 1rem 3px;
}

#schedule-action-menu>button {
  margin-bottom: 0;
  line-height: 1.2;
  float: right;
}

#schedule-action-menu span {
  margin: 0 5px;
}

.schedule-name label {
  text-transform: uppercase;
  font-size: 0.8em;
  font-style: italic;
}

.schedule-name input {
  font-size: 1.5em;
}

md-input-container {
  margin-bottom: 0;
}

md-input-container .md-errors-spacer {
  min-height: 0;
}

md-input-container input {
  box-shadow: none;
}

button span {
  margin-left: 5px;
}

.schedule-finish-time input {
  font-size: 1.3rem;
}

.new-schedule-item-popup .input-group-label {
  min-width: 90px;
  text-align: left;
}

.schedule-item-list {
  margin-left: 0;
  margin-right: 10px;
}

.schedule-item {
  margin: 4px 0;
}

.schedule-item.done .schedule-item-header {
  background-color: slategray;
}

.schedule-item.live .schedule-item-header {
  background-color: #3adb76;
}

  .schedule-item>div{
    padding: 8px 4px;
  }

  .schedule-item-header {
    color: white;
    background-color: #2199e8;
    min-height: 36px;
    position: relative;
  }

    .schedule-item-header > .handle{
      float: left;
      margin: 2px 10px 2px 5px;
    }

    .schedule-item-header > .schedule-item-name{
      float: left;
      margin-top: 2px;
      font-size: 100%;
      font-weight: 600;
      max-width: 60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .schedule-item-header > .schedule-item-finish-time{
      float: right;
      font-size: 0.8rem;
      margin: 4px 5px 4px 0;
    }

    .schedule-item-header > .insert-schedule-item-btn{
      position: absolute;
      border-radius: 1rem;
      top: -14px;
      right: -8px;
    }

  .item-hidden {
    display: none; !important;
  }

  .schedule-item-contents{

  }

    .schedule-item-contents .rz-pointer {
      top: -10px;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
    }

    .schedule-item-contents .rz-pointer:after {
      top: 8px;
      left: 8px;
    }

    .schedule-item-contents .rz-bubble {
      display: none;
    }

.add-new-schedule-item {
  margin-top: 15px;
}

.schedule-list-grid {

}

  .schedule-list-item {
    padding: 1rem;
    margin: 5px;
  }

  .schedule-list-item-actions button{
    margin-top: 1rem;
    float: right;
  }

.live-view-button span {
    margin-left: 5px;
}

.control-options-panel {
  margin: 10px;
  background-color: white;
}

.control-options-panel-menu-bar {
  background-color: #2199e8;
  color: white;
  min-height: 3rem;
  padding: 10px 10px;
}

.logout-button {
  margin-bottom: 0;
}

.off-canvas-content {

}

.control-status-bar {
  padding: 0;
  position: relative;
  height: 2.5rem;
}

.control-status-bar button {
  margin: 0;
  position: absolute;
}

.control-status-bar .take-control-button {
  background-color: #3adb76;
}

.time-display-container {
  background-color: #eee;
  padding: 5px;
}

.current-time-container, .finish-time-container, .countdown-container {
  background-color: white;
  margin: 5px;
  padding: 10px;
  min-height: 4.7rem;
}

.current-time-container span, .finish-time-container span {
  font-size:  1.5rem;
}

.countdown-container .current-schedule-item-label {
  font-size: 2rem;
  margin-bottom: -0.8rem;
}

.countdown-container .next-schedule-item-label {
  font-size: 1rem;
}

.countdown-container .main-timer-label {
  font-size: 4.5rem;
  display: block;
  font-family: 'Alegreya+SC', 'Roboto', sans-serif;
}

.countdown-container .stage-message-label {
  margin-top: 1rem;
  font-size: 1.3rem;
  display: block;
}

.section-header {
  color: white;
  background-color: #2199e8;
  height: 3.5rem;
}

.section-header span {
  font-size: 1.3rem;
  line-height: 3.5rem;
}

.section-contents {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
}

.schedule-item-navigation-actions span {
  margin: 0 5px;
}

.countdown-timer-controls input {
  font-size: 1.2rem;
}

.countdown-timer-controls button {
  min-width: 60px;
  width: 100%;
  margin: 18px 0 0 0;
}

.countdown-for-panel button.md-button.md-raised, .countdown-to-panel button.md-button.md-raised,
.countdown-for-panel button.md-button.md-raised:hover, .countdown-to-panel button.md-button.md-raised:hover {
  color: white;
  background-color: #3adb76;
}

.countdown-for-panel input, .countdown-to-panel input {
  min-width: 3rem;
  margin-left: 5px;
}

.messages-control-container .message-window textarea {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.messages-control-container .message-options md-switch {
  margin-top: 0;
  margin-bottom: 0;
  height: 2.7rem;
}

.messages-control-container .message-actions button {
  margin: 0;
  height: 2.7rem;
  padding: 0;
  float: right;
}

.chat-container {
  position: relative;
}

  .chat-container .chat-window {
    height: 10.5rem;
    overflow-y: auto;
    padding-bottom: 15px;
    width: 100%;
  }

  .chat-container .chat-window>.row.column.chat-message {
    padding-left: 10px;
    padding-right: 10px;
  }

  .chat-container .chat-window .message-card {
    max-width: 50%;
    float: left;
    margin: 5px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 0.9em;
    border-top: rgba(40, 200, 80, 0.6) 2px solid;
  }

  .chat-container .chat-window .sender-details {
    float: left;
    font-size: 0.8rem;
    margin: 6px 5px 0 0;
  }

  .chat-container .chat-window .sender-details span {
    display: block;
    text-align: right;
  }

  .chat-container .chat-window .sender-details span.timestamp {
    font-style: italic;
    color: slategray;
    font-size: 0.7rem;
    margin-top: 3px;
  }

  .chat-container .chat-window .sender-details.sender span {
    text-align: left;
  }

  .chat-container .chat-window .sender-details.sender {
    float: right;
    margin: 6px 0 0 5px;
  }

  .chat-container .chat-window .message-card.sender {
    float: right;
    border-top: rgba(20, 50, 200, 0.6) 2px solid;
  }

  .chat-input md-input-container {
    width: 100%
  }

  .chat-input .md-button {
    float: right;
    margin-top: 18px;
    width: 100%
  }

.output-window {
  background-image: url('../images/background_tile_dark.png');
}

.output-window>md-fab-toolbar {
  position: absolute;
  width: 100%;
}

.output-viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #eee;
}

.output-viewport label {
  font-size: 1.2rem;
  color: #909090;
}

.output-viewport span {
  font-size: 1.8rem;
}

.current-time-output, .finish-time-output {
  margin: 0.5rem 0;
}

.countdown-output-container-column {
  min-height: 40%;
}

.countdown-output-container {
  margin-top: 1rem;
}

.countdown-output-container span {
  font-size: 8rem;
  font-size: 20vmax;
  font-family: 'Alegreya+SC', 'Roboto', sans-serif;
  line-height: 16vmax;
}

.output-viewport label.current-schedule-item-output {
  font-size: 7vmax;
  line-height: 8vmax;
  color: #a5f0b0;
}

.output-viewport label.next-schedule-item-output {
   font-size: 4vmax;
  line-height: 8vmax;
 }

.output-viewport span.stage-message-output {
  font-size: 6vmax;
}
  
@keyframes text-bulge {
  0%, 30%, 70%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes scaleUp {
  from    { opacity: 0.5; -webkit-transform: scale(0.5); }
}

@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

@keyframes slideOutLeft {
  from    { transform:translateX(0); }
  to      { transform: translateX(-100%); }
}

@keyframes slideInLeft {
  from    { transform: translateX(-100%); }
  to      { transform: translateX(0); }
}

@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

@keyframes slideOutDown {
  from    { transform:translateY(0); }
  to      { transform: translateY(100%); }
}

span.red {
  color: #ee3050;
}

span.blink {
  -webkit-animation: text-bulge 1s infinite ease-in;
  -o-animation: text-bulge 1s infinite ease-in;
  animation: text-bulge 1s infinite ease-in;
}

.login-screen.ng-enter {
  animation: slideInRight 0.5s ease-in;
}

.login-screen.ng-leave {
  animation: slideOutLeft 0.5s ease-in;
}

.control-screen.ng-enter {
  animation: slideInRight 0.5s ease-in;
}

.control-screen.ng-leave {
  animation: slideOutLeft 0.5s ease-in;
}

.view-screen.ng-enter {
  animation: slideInRight 0.5s ease-in;
}

.view-screen.ng-leave {
  animation: slideOutLeft 0.5s ease-in;
}

.ng-enter {
  z-index: 5555;
}
.ng-leave {
  z-index: 6666;
}